@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#202b46;
    color:white ;
}
/* color:
            background-color: #1A2238 ;
    color: #FF6A3D;color: #9DAAF2;color: #F4DB78;color:#dce1ef;  */

.Header
{
    background-color: #1A2238 ;
    color: #FF6A3D;
    text-align: center;
    font-size:x-large;
    display: flex;
    /* padding-bottom: 1rem; */
    margin-bottom: 1rem;
}

.Header h1
{
    text-align: left;
    padding-left: 10px;
    width: 50%;
    font-size: xx-large;
}

.buttons 
{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    background: 0;
    border: 0;
    color: #9DAAF2;
    /* color: #202b46; */
    font-size: 2vw;
    font-weight: 400;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    transition: opacity 250ms ease-in;
}

.cl
{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    background: 0;
    border: 0;
    color:  #F4DB78;
    /* color: #202b46; */
    font-size: 2vw;
    font-weight: 500;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    transition: opacity 250ms ease-in;
}

.cl:hover{opacity: 0.7;}

.buttons:hover 
{opacity: 0.7} 


.button
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1A2238;
    /* background-color: #202b46; */
    border-radius: 25px;
    margin-left: 20vw;
    margin-right: 25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.sin
{
    background-color:#9DAAF2;
    /* outline: none; */
    border: none;
    height: 2vw;
    width: 2vw;
}
.start
{
    height: 2vw;
    width: 2vw;
    border-color: #1A2238;
    outline: 2px solid #1A2238;
    display: inline-block;
    /* aspect-ratio: 100; */
} 
.stop
{
    height: 2vw;
    width: 2vw;
    border-color: #1A2238;
    outline: 2px solid #1A2238;
    display: inline-block;
}
.nowall
{
    height: 2vw;
    width: 2vw;
    border-color: #1A2238;
    outline: 2px solid #1A2238;
    display: inline-block;
    /* border: #1A2238; */
}

.grid
{
    margin-left: 17vw;
    margin-top: 2vw;
}


/* rgb(175, 216, 248) */


::-webkit-scrollbar 
{
	width: 0.75vw;
}
::-webkit-scrollbar-thumb 
{
	border-radius: 25px;
    background: #3c4b70; 
}
